main{
    height: 100%;
}
.img-intro,
.en-statement{
    display: flex;
    flex: 1;
}
.img-intro{
    justify-content: center;
    align-items: center;
}
.img-intro>div{
    display: flex;
    background-color: rgba(226, 222, 214, 0.746);
    color: black;
    justify-content: space-between;
    align-items: center;
    width: 700px;
}
hr{
    height: 1px;
    background-color: rgba(255, 255, 255, 0.392);
    border: none;
    margin: 10px 0px;
}
.quote{
    margin: 50px;
    font-size: 1rem;
}
h1{
   font-size: 2rem;
}

#about-section{
    display: flex;
    height: 100%;
}
p>.social-icon{
    margin-right: 13px;
}


.statement{
    height: 500px;
}

.en-statement{
    padding: 100px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 2;
    
}
@media (max-height:576px) and (min-width:1280px) {
    main{
        height: auto;
    }
    .en-statement{
        padding: 20px;
    }
}

@media(max-width:1280px) {
    main{
        height: fit-content;
    }
    #about-section{
        flex-direction: column;
    }
    .en-statement{
        padding: 20px;
    }
    main{
        padding-top: 50px;
    }
    .statement{
        max-width: 700px;
    }
}
@media(max-width:689px){
    .img-intro>div{
        flex-direction: column;
        width: auto;
    }
    .en-statement{
        padding:10px;
    }
    main{
        padding-top: 0px;
    }
    .img-intro>div{
        padding-bottom: 70px;
    }
}