main{
    flex-grow: 1;
    height: 100%;
}
.main-section{
    display:flex;
    height: 100%;
}

.img-section{
    flex-basis: 75vw;
    display: flex;
    /* border-right: 1px solid rgba(255, 255, 255, 0.208); */
    align-items: center;
    justify-content: center;
}

.background-img{
    height: 100%;
    width: 100%;
}
.img-section>button{
    background-color: transparent;
    height: 200px;
    width: 200px;
    border-radius: 30%;
    border:none;
    color: white;
    color: transparent;
    text-shadow: 0 0 0 #2196f3;
    position: absolute;
}
.blur{
    filter: blur(15px);
    transition: ease 1s;
}
.desc-section{
    flex-grow: 1;
    flex-basis: 25vw;
    display: flex;
    flex-direction: column;
    height: 100%;
}
.pic-desc{
    height: 90%;
    padding: 20px;
}
.buttons{
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    
    /* border-top: 1px solid rgba(255, 255, 255, 0.208); */

}

#people-img{
    background-image: url('../images/People/p1.jpg');
    background-repeat: repeat;
    background-size: 500px;
}
#UStravel-img{
    background-image: url('../images/Travel  US canada/SDIM0431.jpg');
    /* background-image: url('../images/Travel  US canada/SDIM2434.jpg');  */
    background-repeat: repeat;
    background-size: cover;
}

#JPtravel-img{
    background-image: url('../images/Travel JAPAN/_P0Q0455.jpg');
    background-repeat: repeat;
    background-size: cover;
}
.youtube-vid{
    display: flex;
    pointer-events: none;
    width: 100%; 
    height: 100%;
}
#youtube-vid2{
    width: 100%; 
    height: 100%;
}

.carousel-btn{
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0);
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.carousel-btn:hover{
    cursor: pointer;
}
/* .btn-prev{
    border-right:1px solid rgba(255, 255, 255, 0.208); 
} */

div[data-status="inactive"]{
    display: none;
}
div[data-status="active"]{
    display: flex;
    flex-direction: column;
}

@media(max-width:992px) {
    .main-section{
        flex-direction: column;
    }
    .pic-desc{
        height: 80%;
        padding: 20px;
    }
    .buttons{
        height: 50px;
    }
    main{
        flex-grow: 1;
        height: 70vh;
    }
   
}
@media (max-width: 768px) {
    #people-img{

        background-size: contain;
        background-position: center;
    }
    .img-section{
        flex-basis: 1;
    }
    main{
        flex-grow: 1;
        height: auto;
    }
    
}
.blr-btn>a{
    color: black;
    font-size: 2rem;
}
.blr-btn:hover{
    background-color: rgba(255, 255, 255, 0.427);    
    transition-delay:300ms;
  
    border-radius: 0;

}